<ion-app class="text-gray-900">
  <ion-header
    class="bg-blue-100 px-4 py-6 ion-no-border text-xl flex justify-between items-center"
  >
    <p class="font-bold">Record BMI</p>
    <ion-icon
      (click)="modalController.dismiss()"
      name="close"
      class="bg-gray-500 text-2xl text-white rounded-full"
    ></ion-icon>
  </ion-header>
  <ion-content>
    <div class="p-4 space-y-4">
      <ion-item>
        <ion-label class="block font-calibre w-full" position="stacked"
          >Unit of measurement</ion-label
        >
        <ion-select
          value="kg/m"
          [(ngModel)]="bmi.unit"
          class="w-full"
          placeholder="Choose unit of measurement"
          (ngModelChange)="updateTip()"
        >
          <ion-select-option value="pounds/inch">Pounds/Inch</ion-select-option>
          <ion-select-option value="kg/m">kg/m</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="block font-calibre w-full" position="stacked"
          >Height({{ this.bmi.unit == "kg/m" ? "M" : "Inch" }})</ion-label
        >
        <ion-input
          placeholder="Enter height"
          type="number"
          [value]="bmi.height"
          [(ngModel)]="bmi.height"
          (ngModelChange)="updateTip()"
        ></ion-input>
      </ion-item>

      <ion-item *ngIf="bmi.height" onclick="scrollIntoView(this)">
        <ion-label class="block font-calibre w-full" position="stacked"
          >Weight({{ this.bmi.unit == "kg/m" ? "Kg" : "Pounds" }})</ion-label
        >
        <ion-input
          type="number"
          placeholder="Enter weight"
          [value]="bmi.weight"
          [(ngModel)]="bmi.weight"
          (ngModelChange)="updateTip()"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="block font-calibre w-full" position="stacked"
          >BMI({{ this.bmi.unit }})</ion-label
        >
        <ion-input
          type="number"
          placeholder="Enter weight"
          [value]="bmi.mass"
          [(ngModel)]="bmi.mass"
          disabled
        ></ion-input>
      </ion-item>

      <div *ngIf="tip">
        <div class="flex items-center">
          <ion-icon
            name="information-circle-outline"
            class="text-blue-600 text-xl inline-block mr-2 relative -top-1"
          ></ion-icon>
          <span>Health Tip</span>
        </div>
        <p class="text-gray-400 mt-3 font-geomanist" [innerHTML]="tip"></p>
      </div>
      <span
        (click)="save()"
        class="w-full bg-accentBlue p-4 font-semibold text-center block text-white uppercase rounded-xl mt-10"
        >Done</span
      >
    </div>
  </ion-content>
</ion-app>
