<ion-app class="pale-bg-default">
  <ion-header class="ion-no-border p-4 flex justify-between font-geomanist">
    <div class="flex">
      <ion-icon
        name="arrow-back"
        class="text-2xl"
        (click)="modalController.dismiss()"
      ></ion-icon>
      <p class="ml-4 block text-gray-900 text-xl">All Reminders</p>
    </div>
  </ion-header>
  <ion-content>
    <div class="min-h-full pale-bg-default font-calibre text-gray-900">
      <p class="p-4 font-bold text-lg tracking-wide">Daily tip</p>
      <div class="my-2 p-4 bg-white">
        <div class="text-center">
          <img src="/assets/img/tip.svg" />
        </div>
        <div class="mt-6">
          <p class="font-bold mb-2 text-gray-900">{{ tip.title }}</p>
          <p class="text-gray-500">{{ tip.note }}</p>
        </div>
      </div>

      <div class="flex justify-center my-6 items-center">
        <p
          class="inline-block font-bold py-4 px-8 bg-white rounded-xl"
          (click)="showAdd()"
        >
          <ion-icon name="add" class="text-xl relative top-1"></ion-icon>
          <span class="uppercase inline-block ml-2">New reminder</span>
        </p>
      </div>

      <div>
        <p class="px-4 font-bold text-lg tracking-wide">Reminders</p>
        <!-- <p class="p-4 text-gray-500">You have not added any reminder</p> -->
        <ul>
          <li *ngFor="let item of reminders" class="bg-white p-4 mb-2">
            <div
              class="flex justify-between items-center"
              (click)="toggle(item)"
            >
              <div class="text-lg">
                <p>{{ item.title }}</p>
                <p class="text-gray-500 text-sm">{{ item.date }}</p>
              </div>
              <ion-icon
                name="chevron-forward"
                class="text-xl {{ item == expand ? 'rotate-90' : '' }}"
              ></ion-icon>
            </div>
            <app-expandable [expanded]="item == expand" expandHeight="500px">
              <div class="bg-white mt-6 text-gray-600 space-y-4">
                <p class="font-bold">{{ item.category }}</p>
                <div>
                  <p class="text-accentBlue">Note:</p>
                  <p>
                    {{ item.note }}
                  </p>
                </div>
                <p
                  class="
                    bg-red-600
                    font-bold
                    text-white
                    p-3
                    text-center
                    rounded-full
                  "
                  (click)="remove(item.id)"
                >
                  Remove
                </p>
              </div>
            </app-expandable>
          </li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-app>
