<ion-app class="text-gray-900">
  <ion-header
    class="bg-blue-100 px-4 py-6 ion-no-border text-xl flex justify-between items-center"
  >
    <p class="font-bold">Health Profile</p>
    <ion-icon
      (click)="modalController.dismiss()"
      name="close"
      class="bg-gray-500 text-2xl text-white rounded-full"
    ></ion-icon>
  </ion-header>
  <ion-content>
    <div class="py-4 space-y-4">
      <div class="grid grid-cols-2 gap-8 px-4">
        <ion-item>
          <ion-label class="block font-calibre w-full" position="stacked"
            >Gender</ion-label
          >
          <ion-select
            [value]="profile.gender"
            [(ngModel)]="profile.gender"
            class="w-full"
            placeholder="Choose Gender"
            interface="popover"
          >
            <ion-select-option value="Male">Male</ion-select-option>
            <ion-select-option value="Female">Female</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label class="block font-calibre w-full" position="stacked"
            >Age</ion-label
          >
          <ion-input
            placeholder="Enter age"
            type="number"
            [value]="profile.age"
            [(ngModel)]="profile.age"
          ></ion-input>
        </ion-item>
      </div>
      <ion-item class="px-4">
        <ion-label class="block font-calibre w-full" position="stacked"
          >Weight(kg)</ion-label
        >
        <ion-input
          placeholder="Enter weight"
          type="number"
          [value]="profile.weight"
          [(ngModel)]="profile.weight"
        ></ion-input>
      </ion-item>

      <ion-item class="px-4">
        <ion-label class="block font-calibre w-full" position="stacked"
          >Height(m)</ion-label
        >
        <ion-input
          placeholder="Enter height"
          type="number"
          [value]="profile.height"
          [(ngModel)]="profile.height"
        ></ion-input>
      </ion-item>

      <span
        (click)="save()"
        class="mx-4 bg-accentBlue p-4 font-semibold text-center block text-white uppercase rounded-xl mt-10"
        >Done</span
      >
    </div>
  </ion-content>
</ion-app>
