<ion-app class="">
  <ion-header
    class="ion-no-border p-4 flex justify-between font-geomanist bg-white"
  >
    <div class="flex">
      <ion-icon
        name="arrow-back"
        class="text-2xl"
        (click)="modalController.dismiss()"
      ></ion-icon>
      <p class="ml-4 block text-gray-900 text-xl">Health Status</p>
    </div>
  </ion-header>
  <ion-content>
    <div class="pale-bg-default h-full">
      <div class="flex bg-white px-4 py-10">
        <img src="/assets/img/diabetic.svg" class="h-14" />
        <div class="ml-4 font-geomanist w-full">
          <p class="text-lg font-bold">My status</p>
          <p class="text-gray-500">
            Your current medical condition as recorded.
          </p>
        </div>
      </div>
      <div class="bg-white px-4 py-10 mt-2">
        <div class="pale-bg-default p-4 py-10 rounded-xl text-center">
          <h3 class="font-bold text-3xl">
            {{ healthStatus.name || "Not record yet" }}
          </h3>
          <span class="text-accentBlue" *ngIf="healthStatus.date"
            >Last updated
          </span>
          <p class="text-accentBlue">{{ healthStatus.date }}</p>
        </div>
        <div class="flex justify-between mt-8">
          <span
            (click)="modalController.dismiss(true)"
            class="bg-accentBlue p-3 px-9 font-semibold text-center block text-white uppercase rounded-xl"
            >Update</span
          >
          <span
            (click)="modalController.dismiss()"
            class="p-3 px-9 text-center block text-accentBlue border border-accentBlue uppercase rounded-xl"
            >close</span
          >
        </div>
      </div>
      <div class="mt-4">
        <p class="p-4 font-bold">Related tip</p>
        <a
          class="bg-white p-4 flex justify-between"
          (click)="modalController.dismiss(); router.navigate(['/education'])"
        >
          <p class="text-lg">Learn more about diabetes</p>
          <ion-icon name="chevron-forward" class="text-xl"></ion-icon>
        </a>
      </div>
    </div>
  </ion-content>
</ion-app>
