<ion-app class="">
  <ion-header
    class="ion-no-border p-4 flex justify-between font-geomanist bg-white"
  >
    <div class="flex" (click)="modalController.dismiss()">
      <ion-icon name="arrow-back" class="text-2xl text-accent"></ion-icon>
      <p class="ml-4 block text-xl text-accent">All medications</p>
    </div>
    <span class="text-accentBlue text-xl" (click)="share()">Share</span>
  </ion-header>
  <ion-content>
    <div class="pale-bg-default">
      <div class="flex bg-white p-4">
        <img src="/assets/img/drug.svg" />
        <div class="ml-4 font-geomanist w-full">
          <p class="text-lg font-bold">Medication</p>
          <p class="text-gray-500">List of your recorded medications</p>
        </div>
      </div>
      <div>
        <p *ngIf="allMedication.length == 0" class="p-4 bg-white text-gray-500">
          You have not added any medication yet
        </p>
        <ul class="">
          <li *ngFor="let item of allMedication">
            <div
              class="bg-white flex mt-1 p-4 justify-between items-center"
              (click)="toggle(item)"
            >
              <p class="text-lg">{{ item.name || item.medication_name }}</p>
              <ion-icon
                name="chevron-forward"
                class="text-xl {{ item == expand ? 'rotate-90' : '' }}"
              ></ion-icon>
            </div>
            <app-expandable [expanded]="item == expand" expandHeight="500px">
              <div class="bg-white p-4 text-gray-600 space-y-4">
                <ng-container *ngIf="item.used_for">
                  <p>
                    <span class="font-bold">Used for</span>:
                    <span [innerHTML]="item.used_for"></span>
                  </p>
                  <p class="text-green-600">
                    Contact your doctor if you have any of these symptoms
                  </p>
                </ng-container>

                <div class="text-gray-600" *ngIf="item.effect">
                  <p class="font-bold mb-2">Possible Side Effect:</p>
                  <p [innerHTML]="item.effect"></p>
                </div>

                <p
                  class="bg-red-600 font-bold text-white p-3 text-center rounded-full"
                  (click)="remove(item.id)"
                >
                  Remove
                </p>
              </div>
            </app-expandable>
          </li>
        </ul>
      </div>
    </div>
  </ion-content></ion-app
>
