<ion-app>
  <ion-header class="ion-no-border p-4 font-geomanist">
    <div class="flex">
      <ion-icon
        name="arrow-back"
        class="text-2xl"
        (click)="modalController.dismiss()"
      ></ion-icon>
      <p class="ml-4 block text-gray-900 text-xl">Add food ({{ type }})</p>
    </div>
    <ion-segment scrollable
      (ionChange)="segmentChanged($event)"
      [value]="segment"
      mode="md"
      class="bg-white mt-6"
    >
      <ion-segment-button
        [value]="category.id"
        *ngFor="let category of categories"
      >
        <ion-label>{{ category.category }}</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div
      class="
        bg-white
        mt-4
        flex
        px-2
        items-center
        rounded
        border border-gray-200
      "
    >
      <ion-icon name="search" class="text-2xl p-2"></ion-icon>
      <input
        [(ngModel)]="search"
        (ngModelChange)="filterFoods(segment)"
        type="text"
        class=""
        [placeholder]="'Search ' + searchCat"
        class="py-4 w-full outline-none"
      />
    </div>
  </ion-header>
  <ion-content>
    <div class="min-h-full p-4 meal pb-10 bg-gray-100">
      <ul class="bg-white rounded-lg pb-1">
        <li class="p-4 grid grid-cols-3">
          <span class="font-bold col-start-2 text-center">Food</span>
          <span class="font-bold col-start-3 text-center">Calories</span>
        </li>
        <li
          class="p-4 grid grid-cols-3 grid-cols-12 border-t border-gray-200 items-center"
          *ngFor="let food of filteredFood"
        >
          <div class="flex space-x-1 items-center text-left col-span-4">
            <ion-icon
                    (click)="dec(food)"
                    name="remove"
                    class="text-white bg-gray-500 p-1 rounded-full"
            ></ion-icon>
            <ion-icon
              name="ellipse-outline"
              class="text-3xl text-gray-500"
              *ngIf="food.amount == 0"
              (click)="toggle(food)"
            ></ion-icon>
            <ion-icon
              name="checkmark-circle"
              class="text-3xl text-blue-500"
              *ngIf="food.amount > 0"
              (click)="toggle(food)"
            ></ion-icon>
            <ion-icon
                    (click)="inc(food)"
                    name="add"
                    class="text-white bg-gray-500 p-1 rounded-full"
            ></ion-icon>
          </div>
          <small class="text-left col-span-6">
            {{ food.name }} - {{ food.quantity }}g
            {{ food.amount ? " x " + food.amount : "" }}
          </small>
          <small class="text-right col-span-2">{{ food.calories }} kcal</small>
        </li>

        <li class="bg-gray-200 grid grid-cols-2">
          <p class="border-r border-gray-700 p-4">Total</p>
          <p class="self-end p-4 text-right">{{ totalCals }}kcal</p>
        </li>

        <p
          (click)="save()"
          class="
            bg-blue-500
            p-4
            font-semibold
            text-center
            block
            text-white
            uppercase
            rounded-xl
            m-4
          "
        >
          Done
        </p>
      </ul>
    </div>
  </ion-content>
</ion-app>
