<ion-app class="pale-bg-default">
  <ion-header class="ion-no-border p-4 flex justify-between font-geomanist">
    <div class="flex">
      <ion-icon
        name="arrow-back"
        class="text-2xl"
        (click)="modalController.dismiss()"
      ></ion-icon>
      <p class="ml-4 block text-gray-900 text-xl">HbA1c levels</p>
    </div>
    <span class="text-accentBlue text-xl" (click)="share()">Share</span>
  </ion-header>
  <ion-content>
    <div class="min-h-full pale-bg-default p-4">
      <ion-segment
        (ionChange)="segmentChanged($event)"
        [value]="segment"
        mode="md"
      >
        <ion-segment-button value="current">
          <ion-label>current Level</ion-label>
        </ion-segment-button>
        <ion-segment-button value="history">
          <ion-label>History</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div class="mt-4">
        <div *ngIf="segment == 'current'">
          <div
            class="bg-white shadow-sm px-8 py-14 rounded-xl text-center relative"
          >
            <app-guage value="100" [color]="color"></app-guage>
            <div class="px-6 mt-6 font-calibre">
              <h2 class="font-bold text-6xl">
                {{ hba1c?.number || 0 }}
                {{
                  hba1c?.unit == "percentage" || hba1c?.unit == "percent"
                    ? "%"
                    : ""
                }}
              </h2>
              <span
                class="text-sm mb-4 inline-block {{
                  hba1c?.unit == 'percentage' || hba1c?.unit == 'percent'
                    ? 'text-white'
                    : ''
                }}"
                >{{ hba1c?.unit }}</span
              >
              <h3 class="font-bold text-2xl mb-4">HbA1c Level</h3>
              <p class="text-gray-500 mb-2">
                HbA1c refers to glycated haemoglobin(A1c). This is your reading.
              </p>
              <p class="text-accentBlue">Last updated {{ hba1c?.date }}</p>
            </div>
          </div>

          <div class="bg-white shadow-sm px-4 py-10 rounded-xl mt-4">
            <p class="flex justify-between items-center">
              <span>Current status</span>
              <span
                class=" py-1 px-4 rounded-full {{
                  color == 'green' ? 'bg-green-100 text-green-800' : ''
                }} {{ color == 'red' ? 'bg-red-100 text-red-800' : '' }}

                {{ color == 'yellow' ? 'bg-yellow-100 text-yellow-800' : '' }}"
              >
                {{ color == "green" ? "Very Good" : "" }}
                {{ color == "yellow" ? "Risk" : "" }}
                {{ color == "red" ? "Critical" : "" }}
              </span>
            </p>

            <div class="flex mt-10">
              <img src="/assets/img/status.svg" class="inline-block h-16" />
              <div class="ml-4">
                <h3 class="font-bold text-2xl mb-1">
                  Your levels are
                  {{
                    color == "green"
                      ? "Very Good"
                      : color == "yellow"
                      ? "at Risk"
                      : color == "red"
                      ? "Critical"
                      : "Not recorded"
                  }}
                </h3>
                <p class="text-gray-500">
                  {{ status || "Your recordings will show here" }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="" *ngIf="segment == 'history'">
          <p class="font-bold text-xl font-geomanist mb-4">
            All HbA1c readings
          </p>
          <p *ngIf="allHba1cKeys.length == 0" class="text-gray-500">
            You have not added any hba1c reading yet
          </p>
          <ul>
            <li
              class="rounded-xl grid grid-cols-4 mb-6"
              *ngFor="let key of allHba1cKeys"
            >
              <span class="grid-col-1">{{ key }}</span>
              <ul class="col-span-3 rounded-xl overflow-hidden space-y-1">
                <li *ngFor="let item of allHba1c[key]" class="bg-white p-4">
                  <p class="text-accentBlue">{{ item.time }}</p>
                  <div
                    class="flex justify-between items-center"
                    (click)="toggle(item)"
                  >
                    <p class="text-lg">
                      {{ item.number
                      }}{{
                        item.unit == "percentage" || item.unit == "percent"
                          ? "%"
                          : item.unit
                      }}
                    </p>
                    <ion-icon
                      name="chevron-forward"
                      class="text-xl {{ item == expand ? 'rotate-90' : '' }}"
                    ></ion-icon>
                  </div>
                  <app-expandable
                    [expanded]="item == expand"
                    expandHeight="500px"
                  >
                    <div class="bg-white mt-6 text-gray-600 space-y-4">
                      <div class="flex items-center">
                        <ion-icon
                          name="information-circle-outline"
                          class="text-blue-600 text-xl inline-block mr-2 relative"
                        ></ion-icon>
                        <span>Health Tip</span>
                      </div>
                      <p
                        class="text-gray-400 mt-3 font-geomanist"
                        [innerHTML]="item.tip"
                      ></p>

                      <p
                        class="bg-red-600 font-bold text-white p-3 text-center rounded-full"
                        (click)="remove(item.id, key)"
                      >
                        Remove
                      </p>
                    </div>
                  </app-expandable>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ion-content>
</ion-app>
