<ion-app>
  <ion-header
    class="p-4 flex items-center justify-end justify-items-end ion-no-border font-geomanist font-bold text-xl"
  >
    <span class="text-accentBlue font-bold" (click)="modalController.dismiss()"
      >Close</span
    >
  </ion-header>
  <ion-content>
    <div class="p-4 border-b border-gray-200 mb-4">
      <span>Topic</span>
      <h2 class="text-2xl font-bold">{{ data.topic }}</h2>
    </div>
    <div
      class="p-4 content content text-xl"
      [innerHtml]="data.description"
    ></div>
    <div class="flex justify-between p-4">
      <p
        class="py-2 px-6 text-accentBlue rounded-xl flex items-center"
        (click)="bookmark(data.id)"
      >
        <ion-icon name="bookmark" class="text-2xl"></ion-icon>
        <span class="text-xl">Bookmark</span>
      </p>
      <p
        class="py-2 px-14 text-accentBlue rounded-xl flex items-center border border-accentBlue"
        (click)="share()"
      >
        <span class="text-xl">Share</span>
      </p>
    </div>
  </ion-content>
</ion-app>
