<app-menu></app-menu>
<ion-app>
  <ion-header class="ion-no-border">
    <div
      class="flex justify-between p-4  {{
        currentRoute == 'health'
          ? 'bg-accent text-white'
          : 'bg-gray-100 text-gray-900'
      }}"
    >
      <div class="flex items-center">
        <ion-icon
          name="menu"
          class="text-2xl"
          (click)="toggleMenu()"
        ></ion-icon>
        <span class="ml-4 capitalize">{{ currentRoute }}</span>
      </div>

      <div class="space-x-4">
        <ion-icon
          name="location-outline"
          class="text-2xl"
          (click)="showLocation()"
        ></ion-icon>
        <ion-icon name="fast-food-outline" class="text-2xl"></ion-icon>
      </div>
    </div>
  </ion-header>
  <ion-content>
    <router-outlet></router-outlet>
  </ion-content>
  <ion-footer class="ion-no-border">
    <div class="flex justify-between p-4 uppercase">
      <div
        class="text-center {{ currentRoute == 'home' ? 'text-blue-500' : '' }}"
        routerLink="/home"
      >
        <ion-icon name="home" class="text-2xl"></ion-icon>
        <span class="block text-sm">HOME</span>
      </div>
      <div
        class="text-center {{
          currentRoute == 'education' ? 'text-blue-500' : ''
        }}"
        routerLink="/education"
      >
        <ion-icon name="person" class="text-2xl"></ion-icon>
        <span class="block text-sm">Education</span>
      </div>
      <div
        class="text-center {{
          currentRoute == 'health' ? 'text-blue-500' : ''
        }}"
        routerLink="/health"
      >
        <ion-icon name="heart" class="text-2xl"></ion-icon>
        <span class="block text-sm">Health</span>
      </div>
    </div>
  </ion-footer>
</ion-app>
