<ion-app class="pale-bg-default">
  <ion-header class="ion-no-border p-4 flex justify-between font-geomanist">
    <div class="flex" (click)="modalController.dismiss()">
      <ion-icon name="arrow-back" class="text-2xl"></ion-icon>
      <p class="ml-4 block text-gray-900 text-xl">Diabetes Walk</p>
    </div>
  </ion-header>
  <ion-content>
    <div class="min-h-full pale-bg-default py-4 font-calibre text-gray-900">
      <div class="text-center mt-10 font-calibre p-4">
        <img src="/assets/img/walk.svg" class="inline-block h-64" />
        <h3 class="text-3xl font-semibold">Walk to stop diabetes</h3>
        <p class="text-xl mt-2 pb-8">
          Participate in a fun event to motivate our community to live healthy,
          and inspire them against diabetes.
        </p>
      </div>

      <div class="p-4 bg-white text-center text-xl">
        <p
          class="
            inline-block
            relative
            -top-12
            shadow-md
            rounded-full
            px-8
            py-3
            text-accentBlue
            bg-white
          "
        >
          Up Next: April 2021
        </p>
        <h3 class="xl font-bold">1000+ participants last year</h3>
        <p class="mt-2">Get notified via email when the next comes up.</p>
        <div class="flex justify-center space-x-10 mt-6 my-3 pb-3">
          <img src="/assets/img/facebook.svg" />
          <img src="/assets/img/twitter.svg" />
          <img src="/assets/img/instagram.svg" />
        </div>
        <p class="text-sm">To find out more about this event.</p>

        <span
          (click)="showRegistration()"
          class="
            mt-6
            py-3
            px-14
            text-center
            inline-block
            text-accentBlue
            border border-accentBlue
            uppercase
            rounded-2xl
          "
          >Register to join</span
        >
      </div>
    </div>
  </ion-content>
</ion-app>
