<ion-app class="bg-gray-100">
  <ion-header class="ion-no-border p-4 flex justify-between font-geomanist">
    <div class="flex">
      <ion-icon
        name="arrow-back"
        class="text-2xl"
        (click)="modalController.dismiss()"
      ></ion-icon>
      <p class="ml-4 block text-gray-900 text-xl">Boomarks</p>
    </div>
  </ion-header>
  <ion-content>
    <div class="min-h-full bg-gray-100 py-4 font-calibre text-gray-900">
      <p class="px-4 font-bold text-lg tracking-wide">All Bookmarks</p>
      <!-- <p class="p-4 text-gray-500">You have not added any bookmark</p> -->
      <ul>
        <li
          *ngFor="let bookmark of bookmarks"
          class="bg-white p-4 mb-2"
          (click)="viewBookmark(bookmark)"
        >
          <div class="flex justify-between items-center">
            <div class="text-lg">
              <p>{{ bookmark.topic }}</p>
              <p class="text-blue-500 text-sm">Learn about this</p>
            </div>
            <ion-icon name="chevron-forward" class="text-xl"></ion-icon>
          </div>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-app>
