<div class="bg-gray-100">
  <div class="p-4">
    <p class="text-gray-900 text-2xl font-bold font-calibre">
      Hello, {{ user.name }}
    </p>
    <p class="mt-2">
      Let's keep you up to date on your health, learn somthing new today.
    </p>
    <div
      class="bg-white mt-4 flex px-2 items-center rounded"
      (click)="showSearch()"
    >
      <ion-icon name="search" class="text-2xl p-2"></ion-icon>
      <input
        type="text"
        class=""
        placeholder="Search on diabetes..."
        class="py-4 w-full outline-none"
      />
    </div>
  </div>
  <div class="mt-8">
    <p class="p-4 text-gray-900 capitalize">Daily health tip</p>
    <div class="my-2 p-4 bg-white">
      <div class="text-center">
        <img src="/assets/img/tip.svg" />
      </div>
      <div class="mt-6">
        <p class="font-bold mb-2 text-gray-900">{{tip.title}}</p>
        <p class="text-gray-500">{{tip.note}}</p>
      </div>
    </div>
  </div>
  <div class="py-8 px-4 grid grid-cols-2 gap-5 text-gray-900">
    <app-blood-sugar></app-blood-sugar>
    <app-blood-pressure></app-blood-pressure>
  </div>
</div>
