<div class="pale-bg-default min-h-full">
    <div class="p-4">
        <p class="text-3xl font-bold font-calibre">Hello, {{ user.name }}</p>
        <p class="font-geomanist">
            Let's keep you up to date on your health, learn something new today.
        </p>
        <div class="bg-white mt-4 flex px-2 items-center rounded" (click)="showSearch()">
            <ion-icon name="search" class="text-2xl p-2"></ion-icon>
            <p type="text" class="py-4 w-full text-gray-500">Search on diabetes...</p>
        </div>
    </div>
    <div>
        <p class="px-4 py-2 capitalize text-xl font-bold">Daily health tip</p>
        <a class="p-4 bg-white grid grid-cols-12" (click)="router.navigate(['/education'])">
            <div class="text-center col-span-3">
                <img src="/assets/img/tip.svg" />
            </div>
            <div class="col-span-9">
                <p class="font-bold mb-1 text-xl flex justify-between">
                    <span>{{tip.title}} </span
          ><ion-icon name="chevron-forward" class="text-xl"></ion-icon>
        </p>
        <p class="text-accentBlue font-geomanist">Learn more About diabetes</p>
        <p class="text-gray-500 font-geomanist">{{tip.note}}</p>
      </div>
    </a>
    <p class="px-4 py-2 capitalize text-xl font-bold">Click Cards to see history</p>
  </div>
  <div class="py-8 px-4 grid grid-cols-2 gap-5">
    <app-blood-sugar></app-blood-sugar>
    <app-blood-pressure></app-blood-pressure>
  </div>
</div>