.slide-1 {
  background-image: url("/assets/img/slide-1.png");
  background-size: cover;
}

.slide-2 {
  background-image: url("/assets/img/slide-2.png");
  background-size: cover;
}

.slide-3 {
  background-image: url("/assets/img/slide-3.png");
  background-size: cover;
}
