<div class="bg-white rounded-xl p-4 text-center relative" (click)="view()">
  <app-guage value="100" [color]="color"></app-guage>
  <p class="font-bold text-2xl mt-7">
    {{ hba1c?.number || 0
    }}{{ hba1c?.unit == "percentage" || hba1c?.unit == "percent" ? "%" : "" }}
  </p>
  <span
    class="text-sm mb-4 inline-block {{
      hba1c?.unit == 'percentage' || hba1c?.unit == 'percent'
        ? 'text-white'
        : ''
    }}"
    >{{ hba1c?.unit }}</span
  >
  <p class="font-bold">HbA1C</p>
  <p
    class="border border-blue-500 py-2 mt-4 text-blue-500 rounded-xl"
    (click)="record($event)"
  >
    Record
  </p>
</div>
