<div class="w-full absolute flex justify-center p-4 pb-0 left-0 top-0">
  <svg viewBox="0 0 100 90" class="" style="max-width: 190px">
    <path
      d="M5 50 A20 20, 0,0 1,95 50 "
      stroke="blue"
      [style]="{ stroke: appearance }"
      stroke-width="5"
      fill="none"
    ></path>
    <path
      [style]="{ 'stroke-dashoffset': range }"
      d="M5 50 A20 20, 0,0 1,95 50 "
      stroke="white"
      stroke-width="5.7"
      fill="none"
      class="arc"
    ></path>
  </svg>
</div>
