<ion-app class="text-gray-900">
  <ion-header
    class="bg-blue-100 px-4 py-6 ion-no-border text-xl flex justify-between items-center"
  >
    <p class="font-bold">Update health status</p>
    <ion-icon
      (click)="modalController.dismiss()"
      name="close"
      class="bg-gray-500 text-2xl text-white rounded-full"
    ></ion-icon>
  </ion-header>
  <ion-content>
    <div class="p-4 space-y-4">
      <ion-list>
        <ion-radio-group [(ngModel)]="value" value="{{ value }}">
          <ion-list-header>
            <ion-label>What is your current medical condition?</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>Diabetes</ion-label>
            <ion-radio slot="start" value="1"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>High Blood Pressure</ion-label>
            <ion-radio slot="start" value="2"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Pre-diabetic</ion-label>
            <ion-radio slot="start" value="3"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Diabetes and HBP</ion-label>
            <ion-radio slot="start" value="4"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Non-diabetic, Non-hypertensive</ion-label>
            <ion-radio slot="start" value="5"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>I don't know</ion-label>
            <ion-radio slot="start" value="6"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <span
        (click)="save()"
        class="w-full bg-accentBlue p-4 font-semibold text-center block text-white uppercase rounded-xl mt-10"
        >Update</span
      >
    </div>
  </ion-content>
</ion-app>
